body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

#delete-event {
  background-color: #779cab;
  border: 3px solid rgba(255, 255, 255, 0.5);
  margin: 11px;
}

#event-card {
  background-color: #32de8a;
  border-radius: 15px;
  padding-right: 15%;
  padding-left: 15%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  border: 9px solid rgba(255, 255, 255, 0.5);
}

#create-event {
  background-color: #f6a794;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-top-right-radius: '25px';
  border-top-left-radius: '25px';
}
